.barra-favoritos {
    display: flex;
    align-items: center;
    background-color: #ffedd2;
    color: #d35400;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    height: 100px;
    overflow-x: scroll; /* Permite el desplazamiento horizontal */
    scrollbar-width: none; /* Ocultar scrollbar en Firefox */
    -ms-overflow-style: none;  /* Ocultar scrollbar en IE y Edge */
    white-space: nowrap; /* Evita el salto de línea en los elementos flexibles */
    cursor: grab; /* Indica que el elemento es arrastrable */
}

.barra-favoritos::-webkit-scrollbar {
    display: none; /* Ocultar scrollbar en WebKit (Chrome, Safari) */
}

.favorito {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    width: 75px;
}

.favorito-imagen {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
}

.favorito-nombre {
    margin-top: 5px;
    font-size: 0.8rem;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 75px;
    line-height: 1.2;
}

.no-favorites-message {
    padding: 20px;
    text-align: center;
    width: 100%;
}
